---
title: "Notícias"
layout: default
permalink: "/noticias.html"
---

<div class="row listrecent">

  <div class="section-title col-md-12 mt-4">
  <h2 id="noticias"><span class="text-capitalize">Notícias</span></h2>
  </div>

  {% assign pages_list = site.categories.noticias %}

  {% for post in pages_list %}
    {% if post.title != null %}
      {% if group == null or group == post.group %}
        {% include postbox.html %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% assign pages_list = nil %}
  {% assign group = nil %}

</div>
